{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure             {:mvn/version "1.11.4"}
           org.clojure/data.csv            {:mvn/version "1.0.1"}
           compojure                       {:mvn/version "1.7.0"}
           ring/ring                       {:mvn/version "1.11.0"}
           ring/ring-json                  {:mvn/version "0.5.1"}
           com.wallbrew/common-beer-format {:mvn/version "2.2.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check    {:mvn/version "1.1.1"}
                                ring/ring-mock            {:mvn/version "0.4.0"}
                                talltale/talltale         {:mvn/version "0.5.14"}
                                com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                           :sha     "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}
